.Profile {
  padding: 60px 75px 70px;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 50px;
  width: 795px;
  height: 437;
}

.Profile__title {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color: #323232;
  font-weight: 900;
  margin-bottom: 20px;
}

.Profile__subtitle {
  display: block;
  font-size: 16px;
  color: #505050;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 45px;
}

.Profile__card-wrap {
  display: flex;
  margin-bottom: 45px;
}

.Profile__card-frontside {
  margin-right: 32px;
}
.Profile__card-frontside,
.Profile__card-backside {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 322px;
  height: 160px;
  padding: 40px 30px 30px 30px;
}

.Profile__card-label {
  font-size: 15px;
  color: #747474;
}

.Profile__card-date,
.Profile__card-number,
.Profile__card-name,
.Profile__card-code {
  border: none;
  outline: none;
  border-bottom: solid 1px #eaeaea;
  font-size: 24px;
  color: #323232;
  font-weight: 400;
  height: 40px;
  padding: 0 5px;
  font-family: "Roboto", sans-serif;
}

.Profile__card-number,
.Profile__card-name {
  width: 100%;
  margin-bottom: 25px;
}

.Profile__card-date,
.Profile__card-code {
  display: block;
  width: 120px;
}

.Profile__card-date::placeholder,
.Profile__card-number::placeholder,
.Profile__card-name::placeholder,
.Profile__card-code::placeholder {
  color: #323232;
  font-weight: 300;
}

.Profile__card-date:focus,
.Profile__card-number:focus,
.Profile__card-name:focus,
.Profile__card-code:focus {
  border-bottom: solid 1px #ffb1b1;
  transition: all 0.3s;
}

.Profile__save-card {
  width: 195px;
  height: 50px;
  border-radius: 4px;
  background-color: #ffc617;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 21px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
}

.Profile__save-card:hover {
  background-color: yellowgreen;
  transition: all 0.3s;
}

.Profile__prompt {
  position: absolute;
  bottom: 85px;
  right: 230px;
  background: none;
  border: solid 1px #747474;
  outline: none;
  cursor: help;
  border-radius: 50%;
  color: #747474;
  font-size: 10px;
}
