.Header {
  height: 78px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Logo {
  max-width: 184px;
  max-height: 94px;
}

.Menu__inner {
  display: flex;
  justify-content: space-around;
}

.MapPage__btn,
.ProfilePage__btn,
.Exit__btn {
  display: inline-block;
  padding: 7px 17px;
  color: #333333;
  transition: 0.3s;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.Exit__btn {
  height: 40px;
}

.ProfilePage__btn,
.Exit__btn {
  margin-left: 15px;
}

.MapPage__btn:hover,
.ProfilePage__btn:hover,
.Exit__btn:hover {
  background-color: #f2f2f2;
  color: #ffc617;
}
